{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock %}

{% block content %}
  <h1>Лента записей</h1>                        
  <!-- Перебираем в цикле все посты -->
  <hr>
  <article>
    <ul>
      <li>
        Место: Остров отчаянья            
      </li>
      <li>
        Дата: 25 октября 1659 года
      </li>
      <li>
        Категория: <a href="not-my-day">not-my-day</a>
      </li>
    </ul>          
    <!-- Первые 10 слов -->
    <p>
      Всю ночь и весь день шел дождь и дул сильный ...
    </p>
    <a href="detail.html">Читать полный текст</a>
  </article>
{% endblock %}